# Rules in this file were initially inferred by Visual Studio IntelliCode from the E:\MVS Project\Accounting Basic\Accounting Basic\ codebase based on best match to current usage at 28/2/2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]


[*.vb]

# BC42105: Function doesn't return a value on all code paths
dotnet_diagnostic.BC42105.severity = warning
